# compiled files
*.pyc
*.so
build/*
dragnet.egg-info

# cython temporary files
dragnet/blocks.cpp
dragnet/blocks.html
dragnet/lcs.cpp
dragnet/lcs.html
dragnet/_weninger.cpp
dragnet/readability.cpp


documents/*
output/*

.coverage

# vim temp files
*.swp

.vagrant
.idea

