# compiled files
*.pyc
*.so
build/*

# cython temporary files
dragnet/blocks.cpp
dragnet/blocks.html
dragnet/lcs.cpp
dragnet/lcs.html
dragnet/_weninger.cpp
dragnet/readability.cpp


documents/*
output/*

# vim temp files
*.swp

